.error{
    min-height: 80vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;

    @media screen and (max-width: 800px) {
        margin: 0;
    }
}

.error_image{
    width: 50%;
    height: 100%;
    margin: auto;

    @media screen and (max-width: 1279px) {
        width: 60%;
    }
    @media screen and (max-width: 800px) {
        width: 80%;
    }
    @media screen and (max-width: 800px) {
        width: 100%;
    }

    img{
        width: 100%;
    }
}